body
{
    background-image: url("assests\images\bullettrain.jpg");    
}

/* styling for top jumbotron*/
.jumbotron
{
 background: rgba(0, 4, 230, 0.342);
 margin-top: 2%;
 color: white;
 padding-top: 5px;
 padding-bottom: 10px;
}

h1, h2
{
    font-weight: 900;
}

/* hides 'Update' button and 'Add Train'/'Update Train' panel */
#update-btn , #add-panel 
{
    display:center;
}

/*makes panel backrounds semi-transparent*/
#schedule-panel, #add-panel
{
    background: rgba(255,255,255,.9);
}

/* used on span glyphicons to enlarge when hovered over*/

